misc/certs/ca-certificates.crt
out/
coverage/
_bin/
*.exe
*.exe~
*.zip
*.swp
*.orig
/agent/version/_version.go
/ecs-init/version/version.go
.agignore
*.sublime-*
.DS_Store
/misc/windows-iam/devcon*
/misc/pause-container/pause
*-stamp
/.idea/
/misc/taskmetadata-validator/taskmetadata-validator
/bin
*.iml
cover.out
coverprofile.out
/amazon-ecs-init*
/BUILDROOT/
/x86_64/
/sources.tar
/ecs-init-*
/ecs.conf
/.deb-done
/.rpm-done
/.srpm-done
/BUILD
/RPMS
/SOURCES
/SRPMS
/ecs-init.spec
/sources.tgz
ecs-agent-*.tar
/ecs.service
*.log
*.DS_Store
.run/
