[submodule "amazon-ecs-cni-plugins"]
	path = amazon-ecs-cni-plugins
	url = https://github.com/aws/amazon-ecs-cni-plugins.git
[submodule "amazon-vpc-cni-plugins"]
	path = amazon-vpc-cni-plugins
	url = https://github.com/aws/amazon-vpc-cni-plugins.git
