{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.acs#ASMAuthData": {
            "type": "structure",
            "members": {
                "credentialsParameter": {
                    "target": "com.amazonaws.acs#String"
                },
                "region": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.acs#AckRequest": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.acs#String"
                },
                "containerInstance": {
                    "target": "com.amazonaws.acs#String"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#AmazonEC2ContainerAgentServiceV20141113": {
            "type": "service",
            "version": "2014-11-13",
            "operations": [
                {
                    "target": "com.amazonaws.acs#AttachInstanceNetworkInterfaces"
                },
                {
                    "target": "com.amazonaws.acs#AttachTaskNetworkInterfaces"
                },
                {
                    "target": "com.amazonaws.acs#ConfirmAttachment"
                },
                {
                    "target": "com.amazonaws.acs#Error"
                },
                {
                    "target": "com.amazonaws.acs#Heartbeat"
                },
                {
                    "target": "com.amazonaws.acs#Payload"
                },
                {
                    "target": "com.amazonaws.acs#PerformUpdate"
                },
                {
                    "target": "com.amazonaws.acs#Poll"
                },
                {
                    "target": "com.amazonaws.acs#RefreshTaskIAMRoleCredentials"
                },
                {
                    "target": "com.amazonaws.acs#StageUpdate"
                },
                {
                    "target": "com.amazonaws.acs#TaskManifest"
                },
                {
                    "target": "com.amazonaws.acs#TaskStopVerification"
                },
                {
                    "target": "com.amazonaws.acs#UpdateFailure"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ACS",
                    "arnNamespace": "ecsacs",
                    "cloudFormationName": "ACS",
                    "cloudTrailEventSource": "acs.amazonaws.com",
                    "docId": "ecsacs-2014-11-13",
                    "endpointPrefix": "ecsacs"
                },
                "aws.auth#sigv4": {
                    "name": "ecsacs"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#title": "Amazon EC2 Container Service Agent Communication Service",
                "smithy.api#xmlNamespace": {
                    "uri": "http://madison.amazonaws.com/doc/2014-11-13/"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://ecsacs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://ecsacs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://ecsacs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://ecsacs.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://ecsacs.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.acs#Association": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.acs#String"
                },
                "type": {
                    "target": "com.amazonaws.acs#AssociationType"
                },
                "content": {
                    "target": "com.amazonaws.acs#EncodedString"
                },
                "containers": {
                    "target": "com.amazonaws.acs#StringList"
                }
            }
        },
        "com.amazonaws.acs#AssociationType": {
            "type": "enum",
            "members": {
                "ELASTIC_INFERENCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "elastic-inference"
                    }
                },
                "GPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "gpu"
                    }
                }
            }
        },
        "com.amazonaws.acs#Associations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#Association"
            }
        },
        "com.amazonaws.acs#AttachInstanceNetworkInterfaces": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#AttachInstanceNetworkInterfacesMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            },
            "traits": {
                "smithy.api#documentation": "AttachInstanceNetworkInterfaces requests that the Agent look for and confirm the attachment\n        of a network interface by the control plane that is not bound to a specific task."
            }
        },
        "com.amazonaws.acs#AttachInstanceNetworkInterfacesMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "generatedAt": {
                    "target": "com.amazonaws.acs#Long"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "waitTimeoutMs": {
                    "target": "com.amazonaws.acs#Long"
                },
                "elasticNetworkInterfaces": {
                    "target": "com.amazonaws.acs#ElasticNetworkInterfaceList"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#AttachTaskNetworkInterfaces": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#AttachTaskNetworkInterfacesMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            },
            "traits": {
                "smithy.api#documentation": "AttachNetworkInterface requests that the Agent look for and confirm the attachment\n        of a network interface by the control plane."
            }
        },
        "com.amazonaws.acs#AttachTaskNetworkInterfacesMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskClusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "generatedAt": {
                    "target": "com.amazonaws.acs#Long"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "waitTimeoutMs": {
                    "target": "com.amazonaws.acs#Long"
                },
                "elasticNetworkInterfaces": {
                    "target": "com.amazonaws.acs#ElasticNetworkInterfaceList"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#Attachment": {
            "type": "structure",
            "members": {
                "attachmentArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "attachmentType": {
                    "target": "com.amazonaws.acs#String"
                },
                "attachmentProperties": {
                    "target": "com.amazonaws.acs#AttachmentPropertyList"
                }
            }
        },
        "com.amazonaws.acs#AttachmentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#Attachment"
            }
        },
        "com.amazonaws.acs#AttachmentProperty": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.acs#String"
                },
                "value": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#AttachmentPropertyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#AttachmentProperty"
            }
        },
        "com.amazonaws.acs#AuthStrategy": {
            "type": "enum",
            "members": {
                "ExecutionRole": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ExecutionRole"
                    }
                }
            }
        },
        "com.amazonaws.acs#AuthenticationType": {
            "type": "enum",
            "members": {
                "ECR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ecr"
                    }
                },
                "ASM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "asm"
                    }
                }
            }
        },
        "com.amazonaws.acs#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.acs#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.acs#CloseMessage": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.acs#ConfirmAttachment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#ConfirmAttachmentMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            },
            "traits": {
                "smithy.api#documentation": "ConfirmAttachment requests that the Agent look for and confirm an attachment\n        request by the control plane."
            }
        },
        "com.amazonaws.acs#ConfirmAttachmentMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskClusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "generatedAt": {
                    "target": "com.amazonaws.acs#Long"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "waitTimeoutMs": {
                    "target": "com.amazonaws.acs#Long"
                },
                "attachment": {
                    "target": "com.amazonaws.acs#Attachment"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#Container": {
            "type": "structure",
            "members": {
                "command": {
                    "target": "com.amazonaws.acs#StringList"
                },
                "cpu": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "entryPoint": {
                    "target": "com.amazonaws.acs#StringList"
                },
                "environment": {
                    "target": "com.amazonaws.acs#EnvironmentVariables"
                },
                "environmentFiles": {
                    "target": "com.amazonaws.acs#EnvironmentFiles"
                },
                "essential": {
                    "target": "com.amazonaws.acs#Boolean"
                },
                "restartPolicy": {
                    "target": "com.amazonaws.acs#RestartPolicy"
                },
                "image": {
                    "target": "com.amazonaws.acs#String"
                },
                "links": {
                    "target": "com.amazonaws.acs#StringList"
                },
                "memory": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "name": {
                    "target": "com.amazonaws.acs#String"
                },
                "overrides": {
                    "target": "com.amazonaws.acs#String"
                },
                "portMappings": {
                    "target": "com.amazonaws.acs#PortMappingList"
                },
                "managedAgents": {
                    "target": "com.amazonaws.acs#ManagedAgentList"
                },
                "mountPoints": {
                    "target": "com.amazonaws.acs#MountPointList"
                },
                "networkInterfaceNames": {
                    "target": "com.amazonaws.acs#StringList"
                },
                "volumesFrom": {
                    "target": "com.amazonaws.acs#VolumeFromList"
                },
                "dockerConfig": {
                    "target": "com.amazonaws.acs#DockerConfig"
                },
                "healthCheckType": {
                    "target": "com.amazonaws.acs#HealthCheckType"
                },
                "registryAuthentication": {
                    "target": "com.amazonaws.acs#RegistryAuthenticationData"
                },
                "logsAuthStrategy": {
                    "target": "com.amazonaws.acs#AuthStrategy"
                },
                "secrets": {
                    "target": "com.amazonaws.acs#SecretList"
                },
                "dependsOn": {
                    "target": "com.amazonaws.acs#ContainerDependencies"
                },
                "startTimeout": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "stopTimeout": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "firelensConfiguration": {
                    "target": "com.amazonaws.acs#FirelensConfiguration"
                },
                "containerArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "credentialSpecs": {
                    "target": "com.amazonaws.acs#StringList"
                }
            }
        },
        "com.amazonaws.acs#ContainerCondition": {
            "type": "enum",
            "members": {
                "START": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "START"
                    }
                },
                "COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETE"
                    }
                },
                "SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCESS"
                    }
                },
                "HEALTHY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEALTHY"
                    }
                }
            }
        },
        "com.amazonaws.acs#ContainerDependencies": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#ContainerDependency"
            }
        },
        "com.amazonaws.acs#ContainerDependency": {
            "type": "structure",
            "members": {
                "containerName": {
                    "target": "com.amazonaws.acs#String"
                },
                "condition": {
                    "target": "com.amazonaws.acs#ContainerCondition"
                }
            }
        },
        "com.amazonaws.acs#ContainerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#Container"
            }
        },
        "com.amazonaws.acs#DockerConfig": {
            "type": "structure",
            "members": {
                "version": {
                    "target": "com.amazonaws.acs#String"
                },
                "config": {
                    "target": "com.amazonaws.acs#String"
                },
                "hostConfig": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#DockerVolumeConfiguration": {
            "type": "structure",
            "members": {
                "scope": {
                    "target": "com.amazonaws.acs#Scope"
                },
                "autoprovision": {
                    "target": "com.amazonaws.acs#Boolean"
                },
                "driver": {
                    "target": "com.amazonaws.acs#String"
                },
                "driverOpts": {
                    "target": "com.amazonaws.acs#StringMap"
                },
                "labels": {
                    "target": "com.amazonaws.acs#StringMap"
                }
            }
        },
        "com.amazonaws.acs#Double": {
            "type": "double"
        },
        "com.amazonaws.acs#EBSVolumeConfiguration": {
            "type": "structure",
            "members": {
                "volumeId": {
                    "target": "com.amazonaws.acs#String"
                },
                "deleteOnTermination": {
                    "target": "com.amazonaws.acs#Boolean"
                },
                "deviceName": {
                    "target": "com.amazonaws.acs#String"
                },
                "filesystemType": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#ECRAuthData": {
            "type": "structure",
            "members": {
                "registryId": {
                    "target": "com.amazonaws.acs#String"
                },
                "region": {
                    "target": "com.amazonaws.acs#String"
                },
                "endpointOverride": {
                    "target": "com.amazonaws.acs#String"
                },
                "useExecutionRole": {
                    "target": "com.amazonaws.acs#Boolean"
                }
            }
        },
        "com.amazonaws.acs#EFSAuthorizationConfig": {
            "type": "structure",
            "members": {
                "accessPointId": {
                    "target": "com.amazonaws.acs#String"
                },
                "iam": {
                    "target": "com.amazonaws.acs#EFSAuthorizationConfigIAM"
                }
            }
        },
        "com.amazonaws.acs#EFSAuthorizationConfigIAM": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.acs#EFSTransitEncryption": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.acs#EFSVolumeConfiguration": {
            "type": "structure",
            "members": {
                "fileSystemId": {
                    "target": "com.amazonaws.acs#String"
                },
                "rootDirectory": {
                    "target": "com.amazonaws.acs#String"
                },
                "transitEncryption": {
                    "target": "com.amazonaws.acs#EFSTransitEncryption"
                },
                "transitEncryptionPort": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "authorizationConfig": {
                    "target": "com.amazonaws.acs#EFSAuthorizationConfig"
                }
            }
        },
        "com.amazonaws.acs#ElasticNetworkInterface": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.acs#String"
                },
                "macAddress": {
                    "target": "com.amazonaws.acs#String"
                },
                "attachmentArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "ec2Id": {
                    "target": "com.amazonaws.acs#String"
                },
                "index": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "interfaceAssociationProtocol": {
                    "target": "com.amazonaws.acs#NetworkInterfaceAssociationProtocol"
                },
                "interfaceTunnelProperties": {
                    "target": "com.amazonaws.acs#NetworkInterfaceTunnelProperties"
                },
                "interfaceVethProperties": {
                    "target": "com.amazonaws.acs#NetworkInterfaceVethProperties"
                },
                "interfaceVlanProperties": {
                    "target": "com.amazonaws.acs#NetworkInterfaceVlanProperties"
                },
                "ipv4Addresses": {
                    "target": "com.amazonaws.acs#IPv4AddressList"
                },
                "ipv6Addresses": {
                    "target": "com.amazonaws.acs#IPv6AddressList"
                },
                "domainName": {
                    "target": "com.amazonaws.acs#StringList"
                },
                "domainNameServers": {
                    "target": "com.amazonaws.acs#StringList"
                },
                "privateDnsName": {
                    "target": "com.amazonaws.acs#String"
                },
                "subnetGatewayIpv4Address": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#ElasticNetworkInterfaceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#ElasticNetworkInterface"
            }
        },
        "com.amazonaws.acs#EncodedString": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.acs#String"
                },
                "encoding": {
                    "target": "com.amazonaws.acs#Encoding"
                }
            }
        },
        "com.amazonaws.acs#Encoding": {
            "type": "enum",
            "members": {
                "IDENTITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "identity"
                    }
                },
                "BASE64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "base64"
                    }
                }
            }
        },
        "com.amazonaws.acs#EnvironmentFile": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.acs#String"
                },
                "type": {
                    "target": "com.amazonaws.acs#EnvironmentFileType"
                }
            }
        },
        "com.amazonaws.acs#EnvironmentFileType": {
            "type": "enum",
            "members": {
                "S3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "s3"
                    }
                }
            }
        },
        "com.amazonaws.acs#EnvironmentFiles": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#EnvironmentFile"
            }
        },
        "com.amazonaws.acs#EnvironmentVariables": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.acs#String"
            },
            "value": {
                "target": "com.amazonaws.acs#String"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.acs#Error": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#ErrorMessage"
            },
            "output": {
                "target": "smithy.api#Unit"
            }
        },
        "com.amazonaws.acs#ErrorMessage": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#FSxWindowsFileServerAuthorizationConfig": {
            "type": "structure",
            "members": {
                "credentialsParameter": {
                    "target": "com.amazonaws.acs#String"
                },
                "domain": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#FSxWindowsFileServerVolumeConfiguration": {
            "type": "structure",
            "members": {
                "fileSystemId": {
                    "target": "com.amazonaws.acs#String"
                },
                "rootDirectory": {
                    "target": "com.amazonaws.acs#String"
                },
                "authorizationConfig": {
                    "target": "com.amazonaws.acs#FSxWindowsFileServerAuthorizationConfig"
                }
            }
        },
        "com.amazonaws.acs#FirelensConfiguration": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.acs#FirelensConfigurationType"
                },
                "options": {
                    "target": "com.amazonaws.acs#FirelensConfigurationOptionsMap"
                }
            }
        },
        "com.amazonaws.acs#FirelensConfigurationOptionsMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.acs#String"
            },
            "value": {
                "target": "com.amazonaws.acs#String"
            }
        },
        "com.amazonaws.acs#FirelensConfigurationType": {
            "type": "enum",
            "members": {
                "FLUENTD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "fluentd"
                    }
                },
                "FLUENTBIT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "fluentbit"
                    }
                }
            }
        },
        "com.amazonaws.acs#HealthCheckType": {
            "type": "enum",
            "members": {
                "DOCKER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "docker"
                    }
                }
            }
        },
        "com.amazonaws.acs#Heartbeat": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#HeartbeatMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#HeartbeatAckRequest"
            },
            "traits": {
                "smithy.api#documentation": "Heartbeat is a periodic message that informs the agent all is well."
            }
        },
        "com.amazonaws.acs#HeartbeatAckRequest": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#HeartbeatMessage": {
            "type": "structure",
            "members": {
                "healthy": {
                    "target": "com.amazonaws.acs#Boolean"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#HostVolumeProperties": {
            "type": "structure",
            "members": {
                "sourcePath": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#IAMRoleCredentials": {
            "type": "structure",
            "members": {
                "credentialsId": {
                    "target": "com.amazonaws.acs#String"
                },
                "roleArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "accessKeyId": {
                    "target": "com.amazonaws.acs#String"
                },
                "secretAccessKey": {
                    "target": "com.amazonaws.acs#SensitiveString"
                },
                "sessionToken": {
                    "target": "com.amazonaws.acs#String"
                },
                "expiration": {
                    "target": "com.amazonaws.acs#String"
                },
                "credentialScope": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#IAMRoleCredentialsAckRequest": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "expiration": {
                    "target": "com.amazonaws.acs#String"
                },
                "credentialsId": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#IAMRoleCredentialsMessage": {
            "type": "structure",
            "members": {
                "taskArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskClusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "roleCredentials": {
                    "target": "com.amazonaws.acs#IAMRoleCredentials"
                },
                "roleType": {
                    "target": "com.amazonaws.acs#RoleType"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#IPv4AddressAssignment": {
            "type": "structure",
            "members": {
                "privateAddress": {
                    "target": "com.amazonaws.acs#String"
                },
                "primary": {
                    "target": "com.amazonaws.acs#Boolean"
                }
            }
        },
        "com.amazonaws.acs#IPv4AddressList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#IPv4AddressAssignment"
            }
        },
        "com.amazonaws.acs#IPv6AddressAssignment": {
            "type": "structure",
            "members": {
                "address": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#IPv6AddressList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#IPv6AddressAssignment"
            }
        },
        "com.amazonaws.acs#InactiveInstanceException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.acs#Integer": {
            "type": "integer"
        },
        "com.amazonaws.acs#IntegerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#Integer"
            }
        },
        "com.amazonaws.acs#InvalidClusterException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.acs#InvalidInstanceException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.acs#Long": {
            "type": "long"
        },
        "com.amazonaws.acs#ManagedAgent": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.acs#ManagedAgentName"
                },
                "properties": {
                    "target": "com.amazonaws.acs#StringMap"
                }
            }
        },
        "com.amazonaws.acs#ManagedAgentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#ManagedAgent"
            }
        },
        "com.amazonaws.acs#ManagedAgentName": {
            "type": "enum",
            "members": {
                "ExecuteCommandAgent": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ExecuteCommandAgent"
                    }
                }
            }
        },
        "com.amazonaws.acs#MountPoint": {
            "type": "structure",
            "members": {
                "sourceVolume": {
                    "target": "com.amazonaws.acs#String"
                },
                "containerPath": {
                    "target": "com.amazonaws.acs#String"
                },
                "readOnly": {
                    "target": "com.amazonaws.acs#Boolean"
                }
            }
        },
        "com.amazonaws.acs#MountPointList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#MountPoint"
            }
        },
        "com.amazonaws.acs#NackRequest": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.acs#String"
                },
                "containerInstance": {
                    "target": "com.amazonaws.acs#String"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "reason": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#NetworkInterfaceAssociationProtocol": {
            "type": "enum",
            "members": {
                "DEFAULT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "default"
                    }
                },
                "TUNNEL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "tunnel"
                    }
                },
                "VETH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "veth"
                    }
                },
                "VLAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "vlan"
                    }
                }
            }
        },
        "com.amazonaws.acs#NetworkInterfaceTunnelProperties": {
            "type": "structure",
            "members": {
                "tunnelId": {
                    "target": "com.amazonaws.acs#String"
                },
                "interfaceIpAddress": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#NetworkInterfaceVethProperties": {
            "type": "structure",
            "members": {
                "peerInterface": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#NetworkInterfaceVlanProperties": {
            "type": "structure",
            "members": {
                "vlanId": {
                    "target": "com.amazonaws.acs#String"
                },
                "trunkInterfaceMacAddress": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#NullableInteger": {
            "type": "integer"
        },
        "com.amazonaws.acs#NullableLong": {
            "type": "long"
        },
        "com.amazonaws.acs#Payload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#PayloadMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            },
            "traits": {
                "smithy.api#documentation": "Payload requests the Agent parse and launch a given Payload.\n        In response, the Agent will 'ack' the request it recieved after procesing it."
            }
        },
        "com.amazonaws.acs#PayloadMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "tasks": {
                    "target": "com.amazonaws.acs#TaskList"
                },
                "generatedAt": {
                    "target": "com.amazonaws.acs#Long"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "seqNum": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "timeline": {
                    "target": "com.amazonaws.acs#NullableLong"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#PerformUpdate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#PerformUpdateMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            }
        },
        "com.amazonaws.acs#PerformUpdateMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "updateInfo": {
                    "target": "com.amazonaws.acs#UpdateInfo"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#Poll": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#PollRequest"
            },
            "output": {
                "target": "com.amazonaws.acs#CloseMessage"
            },
            "errors": [
                {
                    "target": "com.amazonaws.acs#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.acs#BadRequestException"
                },
                {
                    "target": "com.amazonaws.acs#InactiveInstanceException"
                },
                {
                    "target": "com.amazonaws.acs#InvalidClusterException"
                },
                {
                    "target": "com.amazonaws.acs#InvalidInstanceException"
                },
                {
                    "target": "com.amazonaws.acs#ServerException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Poll is the (increasingly poorly named) method by which the agent\n        creates an initial long-lasting connection over which more specific\n        operations are performed.\n\n        More accurately, this would be named \"StartSession\""
            }
        },
        "com.amazonaws.acs#PollRequest": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.acs#String"
                },
                "containerInstance": {
                    "target": "com.amazonaws.acs#String"
                },
                "seqNum": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "timeline": {
                    "target": "com.amazonaws.acs#NullableLong"
                },
                "versionInfo": {
                    "target": "com.amazonaws.acs#VersionInfo"
                },
                "sendCredentials": {
                    "target": "com.amazonaws.acs#Boolean"
                },
                "protocolVersion": {
                    "target": "com.amazonaws.acs#NullableInteger"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#PortMapping": {
            "type": "structure",
            "members": {
                "containerPort": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "hostPort": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "containerPortRange": {
                    "target": "com.amazonaws.acs#String"
                },
                "protocol": {
                    "target": "com.amazonaws.acs#TransportProtocol"
                }
            }
        },
        "com.amazonaws.acs#PortMappingList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#PortMapping"
            }
        },
        "com.amazonaws.acs#ProxyConfiguration": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.acs#ProxyConfigurationType"
                },
                "containerName": {
                    "target": "com.amazonaws.acs#String"
                },
                "properties": {
                    "target": "com.amazonaws.acs#StringMap"
                }
            }
        },
        "com.amazonaws.acs#ProxyConfigurationType": {
            "type": "enum",
            "members": {
                "APPMESH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "APPMESH"
                    }
                }
            }
        },
        "com.amazonaws.acs#RefreshTaskIAMRoleCredentials": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#IAMRoleCredentialsMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#IAMRoleCredentialsAckRequest"
            }
        },
        "com.amazonaws.acs#RegistryAuthenticationData": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.acs#AuthenticationType"
                },
                "ecrAuthData": {
                    "target": "com.amazonaws.acs#ECRAuthData"
                },
                "asmAuthData": {
                    "target": "com.amazonaws.acs#ASMAuthData"
                }
            }
        },
        "com.amazonaws.acs#RestartPolicy": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "com.amazonaws.acs#Boolean",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ignoredExitCodes": {
                    "target": "com.amazonaws.acs#IntegerList"
                },
                "restartAttemptPeriod": {
                    "target": "com.amazonaws.acs#NullableInteger"
                }
            }
        },
        "com.amazonaws.acs#RoleType": {
            "type": "enum",
            "members": {
                "TaskApplication": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TaskApplication"
                    }
                },
                "TaskExecution": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TaskExecution"
                    }
                }
            }
        },
        "com.amazonaws.acs#Scope": {
            "type": "enum",
            "members": {
                "Task": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "task"
                    }
                },
                "Shared": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "shared"
                    }
                }
            }
        },
        "com.amazonaws.acs#Secret": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.acs#String"
                },
                "valueFrom": {
                    "target": "com.amazonaws.acs#String"
                },
                "containerPath": {
                    "target": "com.amazonaws.acs#String"
                },
                "type": {
                    "target": "com.amazonaws.acs#SecretType"
                },
                "region": {
                    "target": "com.amazonaws.acs#String"
                },
                "provider": {
                    "target": "com.amazonaws.acs#SecretProvider"
                },
                "target": {
                    "target": "com.amazonaws.acs#SecretTarget"
                }
            }
        },
        "com.amazonaws.acs#SecretList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#Secret"
            }
        },
        "com.amazonaws.acs#SecretProvider": {
            "type": "enum",
            "members": {
                "SSM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ssm"
                    }
                },
                "ASM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "asm"
                    }
                }
            }
        },
        "com.amazonaws.acs#SecretTarget": {
            "type": "enum",
            "members": {
                "CONTAINER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTAINER"
                    }
                },
                "LOG_DRIVER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOG_DRIVER"
                    }
                }
            }
        },
        "com.amazonaws.acs#SecretType": {
            "type": "enum",
            "members": {
                "ENVIRONMENT_VARIABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENVIRONMENT_VARIABLE"
                    }
                },
                "MOUNT_POINT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MOUNT_POINT"
                    }
                },
                "BOOTSTRAP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BOOTSTRAP"
                    }
                }
            }
        },
        "com.amazonaws.acs#SensitiveString": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.acs#ServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.acs#StageUpdate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#StageUpdateMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            }
        },
        "com.amazonaws.acs#StageUpdateMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "updateInfo": {
                    "target": "com.amazonaws.acs#UpdateInfo"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#String": {
            "type": "string"
        },
        "com.amazonaws.acs#StringList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#String"
            }
        },
        "com.amazonaws.acs#StringMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.acs#String"
            },
            "value": {
                "target": "com.amazonaws.acs#String"
            }
        },
        "com.amazonaws.acs#Task": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskClusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "containers": {
                    "target": "com.amazonaws.acs#ContainerList"
                },
                "desiredStatus": {
                    "target": "com.amazonaws.acs#String"
                },
                "family": {
                    "target": "com.amazonaws.acs#String"
                },
                "overrides": {
                    "target": "com.amazonaws.acs#String"
                },
                "version": {
                    "target": "com.amazonaws.acs#String"
                },
                "zone": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskDefinitionAccountId": {
                    "target": "com.amazonaws.acs#String"
                },
                "volumes": {
                    "target": "com.amazonaws.acs#VolumeList"
                },
                "roleCredentials": {
                    "target": "com.amazonaws.acs#IAMRoleCredentials"
                },
                "executionRoleCredentials": {
                    "target": "com.amazonaws.acs#IAMRoleCredentials"
                },
                "elasticNetworkInterfaces": {
                    "target": "com.amazonaws.acs#ElasticNetworkInterfaceList"
                },
                "cpu": {
                    "target": "com.amazonaws.acs#Double"
                },
                "memory": {
                    "target": "com.amazonaws.acs#Integer"
                },
                "associations": {
                    "target": "com.amazonaws.acs#Associations"
                },
                "pidMode": {
                    "target": "com.amazonaws.acs#String"
                },
                "ipcMode": {
                    "target": "com.amazonaws.acs#String"
                },
                "proxyConfiguration": {
                    "target": "com.amazonaws.acs#ProxyConfiguration"
                },
                "agentConfiguration": {
                    "target": "com.amazonaws.acs#String"
                },
                "launchType": {
                    "target": "com.amazonaws.acs#String"
                },
                "attachments": {
                    "target": "com.amazonaws.acs#AttachmentList"
                },
                "networkMode": {
                    "target": "com.amazonaws.acs#String"
                },
                "serviceName": {
                    "target": "com.amazonaws.acs#String"
                },
                "enableFaultInjection": {
                    "target": "com.amazonaws.acs#Boolean"
                }
            }
        },
        "com.amazonaws.acs#TaskIdentifier": {
            "type": "structure",
            "members": {
                "taskArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "taskClusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "desiredStatus": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#TaskIdentifierList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#TaskIdentifier"
            }
        },
        "com.amazonaws.acs#TaskList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.acs#Task"
            }
        },
        "com.amazonaws.acs#TaskManifest": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#TaskManifestMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#AckRequest"
            }
        },
        "com.amazonaws.acs#TaskManifestMessage": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "clusterArn": {
                    "target": "com.amazonaws.acs#String"
                },
                "tasks": {
                    "target": "com.amazonaws.acs#TaskIdentifierList"
                },
                "generatedAt": {
                    "target": "com.amazonaws.acs#Long"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "timeline": {
                    "target": "com.amazonaws.acs#Long"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#TaskStopVerification": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#TaskStopVerificationMessage"
            },
            "output": {
                "target": "com.amazonaws.acs#TaskStopVerificationAck"
            }
        },
        "com.amazonaws.acs#TaskStopVerificationAck": {
            "type": "structure",
            "members": {
                "generatedAt": {
                    "target": "com.amazonaws.acs#Long"
                },
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "stopTasks": {
                    "target": "com.amazonaws.acs#TaskIdentifierList"
                }
            }
        },
        "com.amazonaws.acs#TaskStopVerificationMessage": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.acs#String"
                },
                "stopCandidates": {
                    "target": "com.amazonaws.acs#TaskIdentifierList"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.acs#TransportProtocol": {
            "type": "enum",
            "members": {
                "TCP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "tcp"
                    }
                },
                "UDP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "udp"
                    }
                }
            }
        },
        "com.amazonaws.acs#UpdateFailure": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.acs#NackRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            }
        },
        "com.amazonaws.acs#UpdateInfo": {
            "type": "structure",
            "members": {
                "location": {
                    "target": "com.amazonaws.acs#String"
                },
                "signature": {
                    "target": "com.amazonaws.acs#String"
                }
            }
        },
        "com.amazonaws.acs#VersionInfo": {
            "type": "structure",
            "members": {
                "agentVersion": {
                    "target": "com.amazonaws.acs#String"
                },
                "agentHash": {
                    "target": "com.amazonaws.acs#String"
                },
                "dockerVersion": {
[...]
