{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.madison.frontend#AcceleratorCountRequest": {
            "type": "structure",
            "members": {
                "min": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "max": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorManufacturer": {
            "type": "enum",
            "members": {
                "AMAZON_WEB_SERVICES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "amazon-web-services"
                    }
                },
                "AMD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "amd"
                    }
                },
                "NVIDIA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "nvidia"
                    }
                },
                "XILINX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "xilinx"
                    }
                },
                "HABANA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "habana"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorManufacturerSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#AcceleratorManufacturer",
                "traits": {
                    "smithy.api#xmlName": "item"
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorName": {
            "type": "enum",
            "members": {
                "A100": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "a100"
                    }
                },
                "INFERENTIA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "inferentia"
                    }
                },
                "K520": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "k520"
                    }
                },
                "K80": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "k80"
                    }
                },
                "M60": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "m60"
                    }
                },
                "RADEON_PRO_V520": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "radeon-pro-v520"
                    }
                },
                "T4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "t4"
                    }
                },
                "VU9P": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "vu9p"
                    }
                },
                "V100": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "v100"
                    }
                },
                "A10G": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "a10g"
                    }
                },
                "H100": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "h100"
                    }
                },
                "T4G": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "t4g"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorNameSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#AcceleratorName",
                "traits": {
                    "smithy.api#xmlName": "item"
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorTotalMemoryMiBRequest": {
            "type": "structure",
            "members": {
                "min": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "max": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorType": {
            "type": "enum",
            "members": {
                "GPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "gpu"
                    }
                },
                "FPGA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "fpga"
                    }
                },
                "INFERENCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "inference"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AcceleratorTypeSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#AcceleratorType",
                "traits": {
                    "smithy.api#xmlName": "item"
                }
            }
        },
        "com.amazonaws.madison.frontend#AccessDeniedException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.madison.frontend#AccessType": {
            "type": "enum",
            "members": {
                "PUBLIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PUBLIC"
                    }
                },
                "PRIVATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRIVATE"
                    }
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#AccountDetail": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "credentialProvider": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "credentialToken": {
                    "target": "com.amazonaws.madison.frontend#SensitiveString"
                },
                "token": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "owner": {
                    "target": "com.amazonaws.madison.frontend#InterfaceOwnerName"
                }
            }
        },
        "com.amazonaws.madison.frontend#AdvancedConfiguration": {
            "type": "structure",
            "members": {
                "alternateTargetGroupArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "productionListenerRule": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "testListenerRule": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "roleArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            }
        },
        "com.amazonaws.madison.frontend#AgentUpdateStatus": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "STAGING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STAGING"
                    }
                },
                "STAGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STAGED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AllowedInstanceType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 30
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\.\\*\\-]+$"
            }
        },
        "com.amazonaws.madison.frontend#AllowedInstanceTypeSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#AllowedInstanceType",
                "traits": {
                    "smithy.api#xmlName": "item"
                }
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 400
                }
            }
        },
        "com.amazonaws.madison.frontend#AmazonEC2ContainerServiceV20141113": {
            "type": "service",
            "operations": [
                {
                    "target": "com.amazonaws.madison.frontend#AssociateCapacityProvidersWithCluster"
                },
                {
                    "target": "com.amazonaws.madison.frontend#CreateCapacityProvider"
                },
                {
                    "target": "com.amazonaws.madison.frontend#CreateCluster"
                },
                {
                    "target": "com.amazonaws.madison.frontend#CreateDaemon"
                },
                {
                    "target": "com.amazonaws.madison.frontend#CreateExpressGatewayService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#CreateService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#CreateTaskSet"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteAccountSetting"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteAttributes"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteCapacityProvider"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteCluster"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteDaemon"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteDaemonTaskDefinition"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteExpressGatewayService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteTaskDefinitions"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeleteTaskSet"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeregisterContainerInstance"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DeregisterTaskDefinition"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeCapacityProviders"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeClusterCapacityProviderAssociations"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeClusters"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeContainerInstances"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeDaemon"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeDaemonDeployments"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeDaemonRevisions"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeDaemonTaskDefinition"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeExpressGatewayService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeServiceDeployments"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeServiceRevisions"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeServices"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeTaskDefinition"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeTasks"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DescribeTaskSets"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DisassociateCapacityProvidersFromCluster"
                },
                {
                    "target": "com.amazonaws.madison.frontend#DiscoverPollEndpoint"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ExecuteCommand"
                },
                {
                    "target": "com.amazonaws.madison.frontend#GetTaskProtection"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListAccountSettings"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListAttributes"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListClusters"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListContainerInstances"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListDaemonDeployments"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListDaemons"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListDaemonTaskDefinitions"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListServiceDeployments"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListServices"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListServicesByNamespace"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListTaskDefinitionFamilies"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListTaskDefinitions"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ListTasks"
                },
                {
                    "target": "com.amazonaws.madison.frontend#NotifyLifecycleHookComplete"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PutAccountSetting"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PutAccountSettingDefault"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PutAttributes"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PutClusterCapacityProviders"
                },
                {
                    "target": "com.amazonaws.madison.frontend#RegisterContainerInstance"
                },
                {
                    "target": "com.amazonaws.madison.frontend#RegisterDaemonTaskDefinition"
                },
                {
                    "target": "com.amazonaws.madison.frontend#RegisterTaskDefinition"
                },
                {
                    "target": "com.amazonaws.madison.frontend#RunTask"
                },
                {
                    "target": "com.amazonaws.madison.frontend#StartTask"
                },
                {
                    "target": "com.amazonaws.madison.frontend#StopServiceDeployment"
                },
                {
                    "target": "com.amazonaws.madison.frontend#StopTask"
                },
                {
                    "target": "com.amazonaws.madison.frontend#SubmitAttachmentStateChanges"
                },
                {
                    "target": "com.amazonaws.madison.frontend#SubmitContainerStateChange"
                },
                {
                    "target": "com.amazonaws.madison.frontend#SubmitTaskStateChange"
                },
                {
                    "target": "com.amazonaws.madison.frontend#TagResource"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UntagResource"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateCapacityProvider"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateCluster"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateClusterSettings"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateContainerAgent"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateContainerInstancesState"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateDaemon"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateExpressGatewayService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateLifecycleHookExpiration"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateService"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateServicePrimaryTaskSet"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateTaskProtection"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateTaskSet"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ECS",
                    "arnNamespace": "ecs",
                    "cloudFormationName": "ECS",
                    "cloudTrailEventSource": "ecs.amazonaws.com",
                    "docId": "ecs-2014-11-13",
                    "endpointPrefix": "ecs"
                },
                "aws.auth#sigv4": {
                    "name": "ecs"
                },
                "smithy.api#title": "Amazon Elastic Container Service",
                "smithy.api#xmlNamespace": {
                    "uri": "http://ecs.amazonaws.com/doc/2014-11-13/"
                }
            }
        },
        "com.amazonaws.madison.frontend#ApplicationProtocol": {
            "type": "enum",
            "members": {
                "HTTP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "http"
                    }
                },
                "HTTP2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "http2"
                    }
                },
                "GRPC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "grpc"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AssignPublicIp": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AssociateCapacityProvidersWithCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.madison.frontend#AssociateCapacityProvidersWithClusterRequest"
            },
            "output": {
                "target": "com.amazonaws.madison.frontend#AssociateCapacityProvidersWithClusterResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.madison.frontend#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClientException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClusterNotFoundException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ServerException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateInProgressException"
                }
            ],
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#AssociateCapacityProvidersWithClusterRequest": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "capacityProviders": {
                    "target": "com.amazonaws.madison.frontend#StringList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "capacityProviderStrategy": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderStrategy"
                }
            }
        },
        "com.amazonaws.madison.frontend#AssociateCapacityProvidersWithClusterResponse": {
            "type": "structure",
            "members": {
                "associations": {
                    "target": "com.amazonaws.madison.frontend#ClusterCapacityProviderAssociations"
                }
            }
        },
        "com.amazonaws.madison.frontend#Attachment": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "type": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "details": {
                    "target": "com.amazonaws.madison.frontend#AttachmentDetails"
                }
            }
        },
        "com.amazonaws.madison.frontend#AttachmentDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#KeyValuePair"
            }
        },
        "com.amazonaws.madison.frontend#AttachmentEntry": {
            "type": "structure",
            "members": {
                "attachmentType": {
                    "target": "com.amazonaws.madison.frontend#AttachmentType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "attachmentSettings": {
                    "target": "com.amazonaws.madison.frontend#AttachmentSettings",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "attachmentArn": {
                    "target": "com.amazonaws.madison.frontend#ECSAttachmentARN"
                }
            }
        },
        "com.amazonaws.madison.frontend#AttachmentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#AttachmentEntry"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 60
                }
            }
        },
        "com.amazonaws.madison.frontend#AttachmentSettings": {
            "type": "union",
            "members": {
                "ecsUsedBy": {
                    "target": "com.amazonaws.madison.frontend#ECSARN"
                },
                "internalAttachment": {
                    "target": "com.amazonaws.madison.frontend#InternalAttachmentSettings"
                },
                "externalAttachment": {
                    "target": "com.amazonaws.madison.frontend#ExternalAttachmentSettings"
                }
            }
        },
        "com.amazonaws.madison.frontend#AttachmentStateChange": {
            "type": "structure",
            "members": {
                "attachmentArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AttachmentStateChanges": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#AttachmentStateChange"
            }
        },
        "com.amazonaws.madison.frontend#AttachmentType": {
            "type": "enum",
            "members": {
                "ECS_USED_BY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ECS_USED_BY"
                    }
                },
                "AWS_ATTACHMENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_ATTACHMENT"
                    }
                },
                "CX_ATTACHMENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CX_ATTACHMENT"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#Attachments": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#Attachment"
            }
        },
        "com.amazonaws.madison.frontend#Attribute": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "targetType": {
                    "target": "com.amazonaws.madison.frontend#TargetType"
                },
                "targetId": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            }
        },
        "com.amazonaws.madison.frontend#AttributeLimitExceededException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#Attributes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#Attribute"
            }
        },
        "com.amazonaws.madison.frontend#AutoScalingGroupProvider": {
            "type": "structure",
            "members": {
                "autoScalingGroupArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "managedScaling": {
                    "target": "com.amazonaws.madison.frontend#ManagedScaling"
                },
                "managedTerminationProtection": {
                    "target": "com.amazonaws.madison.frontend#ManagedTerminationProtection"
                },
                "managedDraining": {
                    "target": "com.amazonaws.madison.frontend#ManagedDraining",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AutoScalingGroupProviderUpdate": {
            "type": "structure",
            "members": {
                "managedScaling": {
                    "target": "com.amazonaws.madison.frontend#ManagedScaling"
                },
                "managedTerminationProtection": {
                    "target": "com.amazonaws.madison.frontend#ManagedTerminationProtection"
                },
                "managedDraining": {
                    "target": "com.amazonaws.madison.frontend#ManagedDraining",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AvailabilityZoneRebalancing": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#AwsVpcConfiguration": {
            "type": "structure",
            "members": {
                "assignPublicIp": {
                    "target": "com.amazonaws.madison.frontend#AssignPublicIp"
                },
                "interfaceConfigurations": {
                    "target": "com.amazonaws.madison.frontend#InterfaceConfigurations",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "securityGroups": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "subnets": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "interfaceOwner": {
                    "target": "com.amazonaws.madison.frontend#InterfaceOwner",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "networkInterfaceOwner": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "networkInterfaceCredential": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "role": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#BadServiceConfigurationType": {
            "type": "enum",
            "members": {
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCESS_DENIED"
                    }
                },
                "DEPENDENCY_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEPENDENCY_FAILURE"
                    }
                },
                "INVALID_FARGATE_INPUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INVALID_FARGATE_INPUT"
                    }
                },
                "INVALID_GROUP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INVALID_GROUP"
                    }
                },
                "UNKNOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN"
                    }
                },
                "CREDS_PROVIDER_INVALID_TOKEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREDS_PROVIDER_INVALID_TOKEN"
                    }
                },
                "CREDS_PROVIDER_ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREDS_PROVIDER_ACCESS_DENIED"
                    }
                },
                "CREDS_PROVIDER_UNKNOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREDS_PROVIDER_UNKNOWN"
                    }
                }
            },
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#BareMetal": {
            "type": "enum",
            "members": {
                "INCLUDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "included"
                    }
                },
                "REQUIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "required"
                    }
                },
                "EXCLUDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "excluded"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#BaselineEbsBandwidthMbpsRequest": {
            "type": "structure",
            "members": {
                "min": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "max": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                }
            }
        },
        "com.amazonaws.madison.frontend#BlockedException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.madison.frontend#BoxedBoolean": {
            "type": "boolean"
        },
        "com.amazonaws.madison.frontend#BoxedDouble": {
            "type": "double"
        },
        "com.amazonaws.madison.frontend#BoxedInteger": {
            "type": "integer"
        },
        "com.amazonaws.madison.frontend#BoxedLong": {
            "type": "long"
        },
        "com.amazonaws.madison.frontend#BurstablePerformance": {
            "type": "enum",
            "members": {
                "INCLUDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "included"
                    }
                },
                "REQUIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "required"
                    }
                },
                "EXCLUDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "excluded"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CPUArchitecture": {
            "type": "enum",
            "members": {
                "X86_64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "X86_64"
                    }
                },
                "ARM64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARM64"
                    }
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CanaryConfiguration": {
            "type": "structure",
            "members": {
                "canaryPercent": {
                    "target": "com.amazonaws.madison.frontend#Double",
                    "traits": {
                        "smithy.api#default": null
                    }
                },
                "canaryBakeTimeInMinutes": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": null
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityFeatureRequirementType": {
            "type": "enum",
            "members": {
                "NonInterruptible": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NonInterruptible"
                    }
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CapacityFeatureRequirements": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#CapacityFeatureRequirementType"
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CapacityOptionType": {
            "type": "enum",
            "members": {
                "ON_DEMAND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ON_DEMAND"
                    }
                },
                "SPOT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SPOT"
                    }
                },
                "RESERVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESERVED",
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProvider": {
            "type": "structure",
            "members": {
                "capacityProviderArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "name": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "cluster": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderStatus"
                },
                "autoScalingGroupProvider": {
                    "target": "com.amazonaws.madison.frontend#AutoScalingGroupProvider"
                },
                "managedInstancesProvider": {
                    "target": "com.amazonaws.madison.frontend#ManagedInstancesProvider"
                },
                "updateStatus": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderUpdateStatus"
                },
                "updateStatusReason": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "tags": {
                    "target": "com.amazonaws.madison.frontend#Tags"
                },
                "type": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderType"
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderField": {
            "type": "enum",
            "members": {
                "TAGS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TAGS"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderFieldList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#CapacityProviderField"
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderStatus": {
            "type": "enum",
            "members": {
                "PROVISIONING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROVISIONING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "DEPROVISIONING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEPROVISIONING"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderStrategy": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#CapacityProviderStrategyItem"
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderStrategyItem": {
            "type": "structure",
            "members": {
                "capacityProvider": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "weight": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderStrategyItemWeight",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "base": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderStrategyItemBase",
                    "traits": {
                        "smithy.api#default": 0
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderStrategyItemBase": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 100000
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderStrategyItemWeight": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderType": {
            "type": "enum",
            "members": {
                "EC2_AUTOSCALING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EC2_AUTOSCALING"
                    }
                },
                "MANAGED_INSTANCES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MANAGED_INSTANCES"
                    }
                },
                "FARGATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FARGATE"
                    }
                },
                "FARGATE_SPOT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FARGATE_SPOT"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviderUpdateStatus": {
            "type": "enum",
            "members": {
                "CREATE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_IN_PROGRESS"
                    }
                },
                "CREATE_COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_COMPLETE"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "DELETE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_IN_PROGRESS"
                    }
                },
                "DELETE_COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_COMPLETE"
                    }
                },
                "DELETE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED"
                    }
                },
                "UPDATE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
                    }
                },
                "UPDATE_COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_COMPLETE"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityProviders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#CapacityProvider"
            }
        },
        "com.amazonaws.madison.frontend#CapacityReservationPreference": {
            "type": "enum",
            "members": {
                "RESERVATIONS_ONLY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESERVATIONS_ONLY"
                    }
                },
                "RESERVATIONS_FIRST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESERVATIONS_FIRST"
                    }
                },
                "RESERVATIONS_EXCLUDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESERVATIONS_EXCLUDED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CapacityReservationRequest": {
            "type": "structure",
            "members": {
                "reservationGroupArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "reservationPreference": {
                    "target": "com.amazonaws.madison.frontend#CapacityReservationPreference",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ClientException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#Cluster": {
            "type": "structure",
            "members": {
                "clusterArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "clusterName": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "configuration": {
                    "target": "com.amazonaws.madison.frontend#ClusterConfiguration"
                },
                "serviceConnectDefaults": {
                    "target": "com.amazonaws.madison.frontend#ClusterServiceConnectDefaults"
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "statusReason": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "registeredContainerInstancesCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "runningTasksCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "pendingTasksCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "activeServicesCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "statistics": {
                    "target": "com.amazonaws.madison.frontend#Statistics"
                },
                "tags": {
                    "target": "com.amazonaws.madison.frontend#Tags"
                },
                "settings": {
                    "target": "com.amazonaws.madison.frontend#ClusterSettings"
                },
                "capacityProviders": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "defaultCapacityProviderStrategy": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderStrategy"
                },
                "attachments": {
                    "target": "com.amazonaws.madison.frontend#Attachments"
                },
                "attachmentsStatus": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "clusterDefaults": {
                    "target": "com.amazonaws.madison.frontend#ClusterDefaults",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterCapacityProviderAssociation": {
            "type": "structure",
            "members": {
                "clusterCapacityProviderAssociationArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "cluster": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "capacityProviderName": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterCapacityProviderAssociations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ClusterCapacityProviderAssociation"
            }
        },
        "com.amazonaws.madison.frontend#ClusterConfiguration": {
            "type": "structure",
            "members": {
                "executeCommandConfiguration": {
                    "target": "com.amazonaws.madison.frontend#ExecuteCommandConfiguration"
                },
                "managedStorageConfiguration": {
                    "target": "com.amazonaws.madison.frontend#ManagedStorageConfiguration"
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterContainsCapacityProviderException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#ClusterContainsContainerInstancesException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#ClusterContainsServicesException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#ClusterContainsTasksException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#ClusterDefaults": {
            "type": "structure",
            "members": {
                "awsvpcNetworkConfiguration": {
                    "target": "com.amazonaws.madison.frontend#NetworkConfiguration"
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterField": {
            "type": "enum",
            "members": {
                "ATTACHMENTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ATTACHMENTS"
                    }
                },
                "CONFIGURATIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONFIGURATIONS"
                    }
                },
                "SETTINGS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SETTINGS"
                    }
                },
                "STATISTICS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STATISTICS"
                    }
                },
                "TAGS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TAGS"
                    }
                },
                "DEFAULTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEFAULTS"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterFieldList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ClusterField"
            }
        },
        "com.amazonaws.madison.frontend#ClusterNotFoundException": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#ClusterServiceConnectDefaults": {
            "type": "structure",
            "members": {
                "namespace": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterServiceConnectDefaultsRequest": {
            "type": "structure",
            "members": {
                "namespace": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterSetting": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.madison.frontend#ClusterSettingName"
                },
                "value": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterSettingName": {
            "type": "enum",
            "members": {
                "CONTAINER_INSIGHTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "containerInsights"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ClusterSettings": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ClusterSetting"
            }
        },
        "com.amazonaws.madison.frontend#Clusters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#Cluster"
            }
        },
        "com.amazonaws.madison.frontend#Compatibility": {
            "type": "enum",
            "members": {
                "EC2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EC2"
                    }
                },
                "FARGATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FARGATE"
                    }
                },
                "EXTERNAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXTERNAL"
                    }
                },
                "MANAGED_INSTANCES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MANAGED_INSTANCES"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CompatibilityList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#Compatibility"
            }
        },
        "com.amazonaws.madison.frontend#ConflictException": {
            "type": "structure",
            "members": {
                "resourceIds": {
                    "target": "com.amazonaws.madison.frontend#ResourceIds"
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.madison.frontend#Connectivity": {
            "type": "enum",
            "members": {
                "CONNECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONNECTED"
                    }
                },
                "DISCONNECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISCONNECTED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#Container": {
            "type": "structure",
            "members": {
                "containerArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "taskArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "name": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "image": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "imageDigest": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "runtimeId": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "lastStatus": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "exitCode": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "reason": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "networkBindings": {
                    "target": "com.amazonaws.madison.frontend#NetworkBindings"
                },
                "networkInterfaces": {
                    "target": "com.amazonaws.madison.frontend#NetworkInterfaces"
                },
                "healthStatus": {
                    "target": "com.amazonaws.madison.frontend#HealthStatus"
                },
                "managedAgents": {
                    "target": "com.amazonaws.madison.frontend#ManagedAgents"
                },
                "cpu": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "memory": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "memoryReservation": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "gpuIds": {
                    "target": "com.amazonaws.madison.frontend#GpuIds"
                },
                "essential": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerCondition": {
            "type": "enum",
            "members": {
                "START": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "START"
                    }
                },
                "COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETE"
                    }
                },
                "SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCESS"
                    }
                },
                "HEALTHY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEALTHY"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerDefinition": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "image": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "repositoryCredentials": {
                    "target": "com.amazonaws.madison.frontend#RepositoryCredentials"
                },
                "cpu": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "memory": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "memoryReservation": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "links": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "portMappings": {
                    "target": "com.amazonaws.madison.frontend#PortMappingList"
                },
                "essential": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean"
                },
                "restartPolicy": {
                    "target": "com.amazonaws.madison.frontend#ContainerRestartPolicy"
                },
                "entryPoint": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "command": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "environment": {
                    "target": "com.amazonaws.madison.frontend#EnvironmentVariables"
                },
                "environmentFiles": {
                    "target": "com.amazonaws.madison.frontend#EnvironmentFiles",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "mountPoints": {
                    "target": "com.amazonaws.madison.frontend#MountPointList"
                },
                "volumesFrom": {
                    "target": "com.amazonaws.madison.frontend#VolumeFromList"
                },
                "linuxParameters": {
                    "target": "com.amazonaws.madison.frontend#LinuxParameters"
                },
                "inferenceDevices": {
                    "target": "com.amazonaws.madison.frontend#StringList",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "networkInterfaceNames": {
                    "target": "com.amazonaws.madison.frontend#StringList",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "secrets": {
                    "target": "com.amazonaws.madison.frontend#SecretList"
                },
                "dependsOn": {
                    "target": "com.amazonaws.madison.frontend#ContainerDependencies"
                },
                "startTimeout": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "stopTimeout": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "versionConsistency": {
                    "target": "com.amazonaws.madison.frontend#VersionConsistency"
                },
                "hostname": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "user": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "workingDirectory": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "disableNetworking": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean"
                },
                "privileged": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean"
                },
                "readonlyRootFilesystem": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean"
                },
                "dnsServers": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "dnsSearchDomains": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "extraHosts": {
                    "target": "com.amazonaws.madison.frontend#HostEntryList"
                },
                "dockerSecurityOptions": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "interactive": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean"
                },
                "pseudoTerminal": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean"
                },
                "dockerLabels": {
                    "target": "com.amazonaws.madison.frontend#DockerLabelsMap"
                },
                "ulimits": {
                    "target": "com.amazonaws.madison.frontend#UlimitList"
                },
                "logConfiguration": {
                    "target": "com.amazonaws.madison.frontend#LogConfiguration"
                },
                "healthCheck": {
                    "target": "com.amazonaws.madison.frontend#HealthCheck"
                },
                "systemControls": {
                    "target": "com.amazonaws.madison.frontend#SystemControls"
                },
                "resourceRequirements": {
                    "target": "com.amazonaws.madison.frontend#ResourceRequirements"
                },
                "firelensConfiguration": {
                    "target": "com.amazonaws.madison.frontend#FirelensConfiguration"
                },
                "credentialSpecs": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerDefinitions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerDefinition"
            }
        },
        "com.amazonaws.madison.frontend#ContainerDependencies": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerDependency"
            }
        },
        "com.amazonaws.madison.frontend#ContainerDependency": {
            "type": "structure",
            "members": {
                "containerName": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "condition": {
                    "target": "com.amazonaws.madison.frontend#ContainerCondition",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerImage": {
            "type": "structure",
            "members": {
                "containerName": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "imageDigest": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "image": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#ContainerImages": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerImage"
            }
        },
        "com.amazonaws.madison.frontend#ContainerInstance": {
            "type": "structure",
            "members": {
                "containerInstanceArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "ec2InstanceId": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "capacityProviderName": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "version": {
                    "target": "com.amazonaws.madison.frontend#Long",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "versionInfo": {
                    "target": "com.amazonaws.madison.frontend#VersionInfo"
                },
                "remainingResources": {
                    "target": "com.amazonaws.madison.frontend#Resources"
                },
                "registeredResources": {
                    "target": "com.amazonaws.madison.frontend#Resources"
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "statusReason": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "statusUpdatedAt": {
                    "target": "com.amazonaws.madison.frontend#Timestamp",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "agentConnected": {
                    "target": "com.amazonaws.madison.frontend#Boolean",
                    "traits": {
                        "smithy.api#default": false
                    }
                },
                "runningTasksCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "pendingTasksCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0
                    }
                },
                "agentUpdateStatus": {
                    "target": "com.amazonaws.madison.frontend#AgentUpdateStatus"
                },
                "attributes": {
                    "target": "com.amazonaws.madison.frontend#Attributes"
                },
                "registeredAt": {
                    "target": "com.amazonaws.madison.frontend#Timestamp"
                },
                "attachments": {
                    "target": "com.amazonaws.madison.frontend#Attachments"
                },
                "clientToken": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.madison.frontend#Tags"
                },
                "healthStatus": {
                    "target": "com.amazonaws.madison.frontend#ContainerInstanceHealthStatus",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerInstanceField": {
            "type": "enum",
            "members": {
                "TAGS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TAGS"
                    }
                },
                "CONTAINER_INSTANCE_HEALTH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTAINER_INSTANCE_HEALTH"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerInstanceFieldList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerInstanceField"
            }
        },
        "com.amazonaws.madison.frontend#ContainerInstanceHealthStatus": {
            "type": "structure",
            "members": {
                "overallStatus": {
                    "target": "com.amazonaws.madison.frontend#InstanceHealthCheckState"
                },
                "details": {
                    "target": "com.amazonaws.madison.frontend#InstanceHealthCheckResultList"
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#ContainerInstanceStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "DRAINING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DRAINING"
                    }
                },
                "REGISTERING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REGISTERING"
                    }
                },
                "DEREGISTERING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEREGISTERING"
                    }
                },
                "REGISTRATION_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REGISTRATION_FAILED"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerInstances": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerInstance"
            }
        },
        "com.amazonaws.madison.frontend#ContainerOverride": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "command": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "environment": {
                    "target": "com.amazonaws.madison.frontend#EnvironmentVariables"
                },
                "environmentFiles": {
                    "target": "com.amazonaws.madison.frontend#EnvironmentFiles",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                },
                "cpu": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "memory": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "memoryReservation": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "resourceRequirements": {
                    "target": "com.amazonaws.madison.frontend#ResourceRequirements"
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerOverrides": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerOverride"
            }
        },
        "com.amazonaws.madison.frontend#ContainerRestartPolicy": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "com.amazonaws.madison.frontend#BoxedBoolean",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ignoredExitCodes": {
                    "target": "com.amazonaws.madison.frontend#IntegerList"
                },
                "restartAttemptPeriod": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerStateChange": {
            "type": "structure",
            "members": {
                "containerName": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "imageDigest": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "runtimeId": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "exitCode": {
                    "target": "com.amazonaws.madison.frontend#BoxedInteger"
                },
                "networkBindings": {
                    "target": "com.amazonaws.madison.frontend#NetworkBindings"
                },
                "reason": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            }
        },
        "com.amazonaws.madison.frontend#ContainerStateChanges": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#ContainerStateChange"
            }
        },
        "com.amazonaws.madison.frontend#Containers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#Container"
            }
        },
        "com.amazonaws.madison.frontend#CpuManufacturer": {
            "type": "enum",
            "members": {
                "INTEL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "intel"
                    }
                },
                "AMD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "amd"
                    }
                },
                "AMAZON_WEB_SERVICES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "amazon-web-services"
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CpuManufacturerSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.madison.frontend#CpuManufacturer",
                "traits": {
                    "smithy.api#xmlName": "item"
                }
            }
        },
        "com.amazonaws.madison.frontend#CreateCapacityProvider": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.madison.frontend#CreateCapacityProviderRequest"
            },
            "output": {
                "target": "com.amazonaws.madison.frontend#CreateCapacityProviderResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.madison.frontend#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClientException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClusterNotFoundException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ServerException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UnsupportedFeatureException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UpdateInProgressException"
                }
            ]
        },
        "com.amazonaws.madison.frontend#CreateCapacityProviderRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "cluster": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "autoScalingGroupProvider": {
                    "target": "com.amazonaws.madison.frontend#AutoScalingGroupProvider"
                },
                "managedInstancesProvider": {
                    "target": "com.amazonaws.madison.frontend#CreateManagedInstancesProviderConfiguration"
                },
                "tags": {
                    "target": "com.amazonaws.madison.frontend#Tags"
                },
                "dryrun": {
                    "target": "com.amazonaws.madison.frontend#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CreateCapacityProviderResponse": {
            "type": "structure",
            "members": {
                "capacityProvider": {
                    "target": "com.amazonaws.madison.frontend#CapacityProvider"
                }
            }
        },
        "com.amazonaws.madison.frontend#CreateCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.madison.frontend#CreateClusterRequest"
            },
            "output": {
                "target": "com.amazonaws.madison.frontend#CreateClusterResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.madison.frontend#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClientException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#NamespaceNotFoundException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ServerException"
                }
            ]
        },
        "com.amazonaws.madison.frontend#CreateClusterRequest": {
            "type": "structure",
            "members": {
                "clusterName": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "tags": {
                    "target": "com.amazonaws.madison.frontend#Tags"
                },
                "settings": {
                    "target": "com.amazonaws.madison.frontend#ClusterSettings"
                },
                "configuration": {
                    "target": "com.amazonaws.madison.frontend#ClusterConfiguration"
                },
                "serviceConnectDefaults": {
                    "target": "com.amazonaws.madison.frontend#ClusterServiceConnectDefaultsRequest"
                },
                "capacityProviders": {
                    "target": "com.amazonaws.madison.frontend#StringList"
                },
                "defaultCapacityProviderStrategy": {
                    "target": "com.amazonaws.madison.frontend#CapacityProviderStrategy"
                },
                "defaultNetworkConfiguration": {
                    "target": "com.amazonaws.madison.frontend#NetworkConfiguration",
                    "traits": {
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CreateClusterResponse": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.madison.frontend#Cluster"
                },
                "clusterCount": {
                    "target": "com.amazonaws.madison.frontend#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#internal": {}
                    }
                }
            }
        },
        "com.amazonaws.madison.frontend#CreateDaemon": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.madison.frontend#CreateDaemonRequest"
            },
            "output": {
                "target": "com.amazonaws.madison.frontend#CreateDaemonResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.madison.frontend#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClientException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClusterNotFoundException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PlatformUnknownException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ServerException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UnsupportedFeatureException"
                }
            ],
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CreateDaemonRequest": {
            "type": "structure",
            "members": {
                "daemonName": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "clusterArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "daemonTaskDefinitionArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "capacityProviderArns": {
                    "target": "com.amazonaws.madison.frontend#StringList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "deploymentConfiguration": {
                    "target": "com.amazonaws.madison.frontend#DaemonDeploymentConfiguration"
                },
                "tags": {
                    "target": "com.amazonaws.madison.frontend#Tags"
                },
                "propagateTags": {
                    "target": "com.amazonaws.madison.frontend#DaemonPropagateTags"
                },
                "clientToken": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "dryrun": {
                    "target": "com.amazonaws.madison.frontend#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#internal": {}
                    }
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CreateDaemonResponse": {
            "type": "structure",
            "members": {
                "daemonArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "status": {
                    "target": "com.amazonaws.madison.frontend#DaemonStatus"
                },
                "createdAt": {
                    "target": "com.amazonaws.madison.frontend#Timestamp"
                },
                "deploymentArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                }
            },
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CreateExpressGatewayService": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.madison.frontend#CreateExpressGatewayServiceRequest"
            },
            "output": {
                "target": "com.amazonaws.madison.frontend#CreateExpressGatewayServiceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.madison.frontend#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClientException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ClusterNotFoundException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PlatformTaskDefinitionIncompatibilityException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#PlatformUnknownException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#ServerException"
                },
                {
                    "target": "com.amazonaws.madison.frontend#UnsupportedFeatureException"
                }
            ],
            "traits": {
                "smithy.api#internal": {}
            }
        },
        "com.amazonaws.madison.frontend#CreateExpressGatewayServiceRequest": {
            "type": "structure",
            "members": {
                "executionRoleArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "infrastructureRoleArn": {
                    "target": "com.amazonaws.madison.frontend#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "serviceName": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "cluster": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "healthCheckPath": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "primaryContainer": {
                    "target": "com.amazonaws.madison.frontend#ExpressGatewayContainer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "taskRoleArn": {
                    "target": "com.amazonaws.madison.frontend#String"
                },
                "networkConfiguration": {
                    "target": "com.amazonaws.madison.frontend#ExpressGatewayServiceNetworkConfiguration"
                },
                "cpu": {
[...]
