{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-03-10",
    "endpointPrefix":"ecstcs",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Amazon ECS TCS",
    "serviceFullName":"Amazon EC2 Container Service Telemetry Communication Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonEC2ContainerServiceTelemetryV20150310",
    "protocol":"json"
  },
  "operations":{
    "Heartbeat":{
      "name":"Heartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"HeartbeatMessage"}
    },
    "PublishHealth":{
      "name":"PublishHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishHealthRequest"},
      "output":{"shape":"AckPublishHealth"},
      "errors":[
        {
          "shape":"BadRequestException",
          "exception":true
        },
        {
          "shape":"ResourceValidationException",
          "exception":true
        },
        {
          "shape":"InvalidParameterException",
          "exception":true
        },
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true
        }
      ]
    },
    "PublishInstanceStatus":{
      "name":"PublishInstanceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishInstanceStatusRequest"},
      "output":{"shape":"AckPublishInstanceStatus"},
      "errors":[
        {
          "shape":"BadRequestException",
          "exception":true
        },
        {
          "shape":"ResourceValidationException",
          "exception":true
        },
        {
          "shape":"InvalidParameterException",
          "exception":true
        },
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true
        }
      ]
    },
    "PublishMetrics":{
      "name":"PublishMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishMetricsRequest"},
      "output":{"shape":"AckPublishMetric"},
      "errors":[
        {
          "shape":"BadRequestException",
          "exception":true
        },
        {
          "shape":"ResourceValidationException",
          "exception":true
        },
        {
          "shape":"InvalidParameterException",
          "exception":true
        },
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true
        }
      ]
    },
    "StartTelemetrySession":{
      "name":"StartTelemetrySession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTelemetrySessionRequest"},
      "output":{"shape":"StopTelemetrySessionMessage"},
      "errors":[
        {
          "shape":"BadRequestException",
          "exception":true
        },
        {
          "shape":"ResourceValidationException",
          "exception":true
        },
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true
        }
      ]
    }
  },
  "shapes":{
    "AckPublishHealth":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "AckPublishInstanceStatus":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "AckPublishMetric":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "CWStatsSet":{
      "type":"structure",
      "members":{
        "min":{"shape":"Double"},
        "max":{"shape":"Double"},
        "sampleCount":{"shape":"UInteger"},
        "sum":{"shape":"Double"}
      }
    },
    "ContainerHealth":{
      "type":"structure",
      "members":{
        "containerName":{"shape":"String"},
        "healthStatus":{"shape":"HealthStatus"},
        "statusSince":{"shape":"Timestamp"}
      }
    },
    "ContainerHealths":{
      "type":"list",
      "member":{"shape":"ContainerHealth"}
    },
    "ContainerMetric":{
      "type":"structure",
      "members":{
        "containerArn":{"shape":"String"},
        "containerName":{"shape":"String"},
        "cpuStatsSet":{"shape":"CWStatsSet"},
        "memoryStatsSet":{"shape":"CWStatsSet"},
        "networkStatsSet":{"shape":"NetworkStatsSet"},
        "storageStatsSet":{"shape":"StorageStatsSet"}
      }
    },
    "ContainerMetrics":{
      "type":"list",
      "member":{"shape":"ContainerMetric"}
    },
    "Dimension":{
      "type":"structure",
      "members":{
        "key":{"shape":"String"},
        "value":{"shape":"String"}
      }
    },
    "Dimensions":{
      "type":"list",
      "member":{"shape":"Dimension"}
    },
    "Double":{"type":"double"},
    "GeneralMetric":{
      "type":"structure",
      "members":{
        "metricName":{"shape":"String"},
        "metricValues":{"shape":"MetricValues"},
        "metricCounts":{"shape":"MetricCounts"}
      }
    },
    "GeneralMetrics":{
      "type":"list",
      "member":{"shape":"GeneralMetric"}
    },
    "GeneralMetricsWrapper":{
      "type":"structure",
      "members":{
        "dimensions":{"shape":"Dimensions"},
        "metricType":{"shape":"MetricType"},
        "generalMetrics":{"shape":"GeneralMetrics"}
      }
    },
    "HealthMetadata":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "messageId":{"shape":"String"},
        "fin":{"shape":"Boolean"}
      }
    },
    "HealthStatus":{
      "type":"string",
      "enum":[
        "HEALTHY",
        "UNHEALTHY",
        "UNKNOWN"
      ]
    },
    "HeartbeatMessage":{
      "type":"structure",
      "members":{
        "healthy":{"shape":"Boolean"}
      }
    },
    "InstanceHealthcheckStatus":{
      "type":"string",
      "enum":[
        "OK",
        "IMPAIRED",
        "INSUFFICIENT_DATA",
        "INITIALIZING"
      ]
    },
    "InstanceStatus":{
      "type":"structure",
      "members":{
        "type":{"shape":"String"},
        "status":{"shape":"InstanceHealthcheckStatus"},
        "lastUpdated":{"shape":"Timestamp"},
        "lastStatusChange":{"shape":"Timestamp"}
      }
    },
    "InstanceStatusMetadata":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "requestId":{"shape":"String"}
      }
    },
    "InstanceStatuses":{
      "type":"list",
      "member":{"shape":"InstanceStatus"}
    },
    "InvalidParameterException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Long":{"type":"long"},
    "MetricCounts":{
      "type":"list",
      "member":{"shape":"Long"}
    },
    "MetricType":{
      "type":"string",
      "enum":[
        "1",
        "2"
      ]
    },
    "MetricValues":{
      "type":"list",
      "member":{"shape":"Double"}
    },
    "MetricsMetadata":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "messageId":{"shape":"String"},
        "idle":{"shape":"Boolean"},
        "fin":{"shape":"Boolean"}
      }
    },
    "NetworkStatsSet":{
      "type":"structure",
      "members":{
        "rxBytesPerSecond":{"shape":"UDoubleCWStatsSet"},
        "rxBytes":{"shape":"ULongStatsSet"},
        "rxDropped":{"shape":"ULongStatsSet"},
        "rxErrors":{"shape":"ULongStatsSet"},
        "rxPackets":{"shape":"ULongStatsSet"},
        "txBytesPerSecond":{"shape":"UDoubleCWStatsSet"},
        "txBytes":{"shape":"ULongStatsSet"},
        "txDropped":{"shape":"ULongStatsSet"},
        "txErrors":{"shape":"ULongStatsSet"},
        "txPackets":{"shape":"ULongStatsSet"}
      }
    },
    "PublishHealthRequest":{
      "type":"structure",
      "members":{
        "metadata":{"shape":"HealthMetadata"},
        "tasks":{"shape":"TaskHealths"},
        "timestamp":{"shape":"Timestamp"}
      }
    },
    "PublishInstanceStatusRequest":{
      "type":"structure",
      "members":{
        "metadata":{"shape":"InstanceStatusMetadata"},
        "statuses":{"shape":"InstanceStatuses"},
        "timestamp":{"shape":"Timestamp"}
      }
    },
    "PublishMetricsRequest":{
      "type":"structure",
      "members":{
        "metadata":{"shape":"MetricsMetadata"},
        "taskMetrics":{"shape":"TaskMetrics"},
        "timestamp":{"shape":"Timestamp"}
      }
    },
    "ResourceValidationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "ServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "fault":true
    },
    "ServiceConnectMetricsWrapper":{
      "type":"list",
      "member":{"shape":"GeneralMetricsWrapper"}
    },
    "StartTelemetrySessionRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"}
      }
    },
    "StopTelemetrySessionMessage":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "StorageStatsSet":{
      "type":"structure",
      "members":{
        "readSizeBytes":{"shape":"ULongStatsSet"},
        "writeSizeBytes":{"shape":"ULongStatsSet"}
      }
    },
    "String":{"type":"string"},
    "TaskHealth":{
      "type":"structure",
      "members":{
        "taskArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "taskDefinitionFamily":{"shape":"String"},
        "taskDefinitionVersion":{"shape":"String"},
        "containers":{"shape":"ContainerHealths"}
      }
    },
    "TaskHealths":{
      "type":"list",
      "member":{"shape":"TaskHealth"}
    },
    "TaskMetric":{
      "type":"structure",
      "members":{
        "taskArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "taskDefinitionFamily":{"shape":"String"},
        "taskDefinitionVersion":{"shape":"String"},
        "containerMetrics":{"shape":"ContainerMetrics"},
        "serviceConnectMetricsWrapper":{"shape":"ServiceConnectMetricsWrapper"}
      }
    },
    "TaskMetrics":{
      "type":"list",
      "member":{"shape":"TaskMetric"},
      "max":10
    },
    "Timestamp":{"type":"timestamp"},
    "UDouble":{
      "type":"double",
      "min":0.0
    },
    "UDoubleCWStatsSet":{
      "type":"structure",
      "required":[
        "min",
        "max",
        "sampleCount",
        "sum"
      ],
      "members":{
        "min":{"shape":"UDouble"},
        "max":{"shape":"UDouble"},
        "sampleCount":{"shape":"UInteger"},
        "sum":{"shape":"UDouble"}
      }
    },
    "UInteger":{
      "type":"integer",
      "min":0
    },
    "ULong":{
      "type":"long",
      "min":0
    },
    "ULongStatsSet":{
      "type":"structure",
      "required":[
        "min",
        "max",
        "sampleCount",
        "sum"
      ],
      "members":{
        "min":{"shape":"ULong"},
        "max":{"shape":"ULong"},
        "sampleCount":{"shape":"ULong"},
        "sum":{"shape":"ULong"},
        "overflowMin":{"shape":"ULong"},
        "overflowMax":{"shape":"ULong"},
        "overflowSum":{"shape":"ULong"}
      }
    }
  }
}