{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-13",
    "endpointPrefix":"ecsacs",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Amazon ECS ACS",
    "serviceFullName":"Amazon EC2 Container Service Agent Communication Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonEC2ContainerAgentServiceV20141113",
    "protocol":"json"
  },
  "operations":{
    "Error":{
      "name":"Error",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ErrorMessage"}
    },
    "Heartbeat":{
      "name":"Heartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"HeartbeatMessage"}
    },
    "Payload":{
      "name":"Payload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PayloadMessage"},
      "output":{"shape":"AckRequest"}
    },
    "PerformUpdate":{
      "name":"PerformUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PerformUpdateMessage"},
      "output":{"shape":"AckRequest"}
    },
    "Poll":{
      "name":"Poll",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollRequest"},
      "output":{"shape":"CloseMessage"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true
        },
        {
          "shape":"BadRequestException",
          "exception":true
        },
        {
          "shape":"InvalidClusterException",
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "exception":true
        },
        {
          "shape":"InvalidInstanceException",
          "exception":true
        },
        {
          "shape":"InactiveInstanceException",
          "exception":true
        }
      ]
    },
    "StageUpdate":{
      "name":"StageUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StageUpdateMessage"},
      "output":{"shape":"AckRequest"}
    },
    "UpdateFailure":{
      "name":"UpdateFailure",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"NackRequest"}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "AckRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "messageId":{"shape":"String"}
      }
    },
    "AuthenticationType":{
      "type":"string",
      "enum":["ecr"]
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "CloseMessage":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "Container":{
      "type":"structure",
      "members":{
        "command":{"shape":"StringList"},
        "cpu":{"shape":"Integer"},
        "entryPoint":{"shape":"StringList"},
        "environment":{"shape":"EnvironmentVariables"},
        "essential":{"shape":"Boolean"},
        "image":{"shape":"String"},
        "links":{"shape":"StringList"},
        "memory":{"shape":"Integer"},
        "name":{"shape":"String"},
        "overrides":{"shape":"String"},
        "portMappings":{"shape":"PortMappingList"},
        "mountPoints":{"shape":"MountPointList"},
        "volumesFrom":{"shape":"VolumeFromList"},
        "dockerConfig":{"shape":"DockerConfig"},
        "registryAuthentication":{"shape":"RegistryAuthenticationData"}
      }
    },
    "ContainerList":{
      "type":"list",
      "member":{"shape":"Container"}
    },
    "DockerConfig":{
      "type":"structure",
      "members":{
        "version":{"shape":"String"},
        "config":{"shape":"String"},
        "hostConfig":{"shape":"String"}
      }
    },
    "ECRAuthData":{
      "type":"structure",
      "members":{
        "registryId":{"shape":"String"},
        "region":{"shape":"String"},
        "endpointOverride":{"shape":"String"}
      }
    },
    "EnvironmentVariables":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "ErrorMessage":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "HeartbeatMessage":{
      "type":"structure",
      "members":{
        "healthy":{"shape":"Boolean"}
      }
    },
    "HostVolumeProperties":{
      "type":"structure",
      "members":{
        "sourcePath":{"shape":"String"}
      }
    },
    "InactiveInstanceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Integer":{"type":"integer"},
    "InvalidClusterException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstanceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Long":{"type":"long"},
    "MountPoint":{
      "type":"structure",
      "members":{
        "sourceVolume":{"shape":"String"},
        "containerPath":{"shape":"String"},
        "readOnly":{"shape":"Boolean"}
      }
    },
    "MountPointList":{
      "type":"list",
      "member":{"shape":"MountPoint"}
    },
    "NackRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "messageId":{"shape":"String"},
        "reason":{"shape":"String"}
      }
    },
    "PayloadMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "tasks":{"shape":"TaskList"},
        "generatedAt":{"shape":"Long"},
        "messageId":{"shape":"String"},
        "seqNum":{"shape":"Integer"}
      }
    },
    "PerformUpdateMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "updateInfo":{"shape":"UpdateInfo"},
        "messageId":{"shape":"String"}
      }
    },
    "PollRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "seqNum":{"shape":"Integer"},
        "versionInfo":{"shape":"VersionInfo"}
      }
    },
    "PortMapping":{
      "type":"structure",
      "members":{
        "containerPort":{"shape":"Integer"},
        "hostPort":{"shape":"Integer"},
        "protocol":{"shape":"TransportProtocol"}
      }
    },
    "PortMappingList":{
      "type":"list",
      "member":{"shape":"PortMapping"}
    },
    "RegistryAuthenticationData":{
      "type":"structure",
      "members":{
        "type":{"shape":"AuthenticationType"},
        "ecrAuthData":{"shape":"ECRAuthData"}
      }
    },
    "ServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "StageUpdateMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "updateInfo":{"shape":"UpdateInfo"},
        "messageId":{"shape":"String"}
      }
    },
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Task":{
      "type":"structure",
      "members":{
        "arn":{"shape":"String"},
        "containers":{"shape":"ContainerList"},
        "desiredStatus":{"shape":"String"},
        "family":{"shape":"String"},
        "overrides":{"shape":"String"},
        "version":{"shape":"String"},
        "taskDefinitionAccountId":{"shape":"String"},
        "volumes":{"shape":"VolumeList"}
      }
    },
    "TaskList":{
      "type":"list",
      "member":{"shape":"Task"}
    },
    "TransportProtocol":{
      "type":"string",
      "enum":[
        "tcp",
        "udp"
      ]
    },
    "UpdateInfo":{
      "type":"structure",
      "members":{
        "location":{"shape":"String"},
        "signature":{"shape":"String"}
      }
    },
    "VersionInfo":{
      "type":"structure",
      "members":{
        "agentVersion":{"shape":"String"},
        "agentHash":{"shape":"String"},
        "dockerVersion":{"shape":"String"}
      }
    },
    "Volume":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "host":{"shape":"HostVolumeProperties"}
      }
    },
    "VolumeFrom":{
      "type":"structure",
      "members":{
        "sourceContainer":{"shape":"String"},
        "readOnly":{"shape":"Boolean"}
      }
    },
    "VolumeFromList":{
      "type":"list",
      "member":{"shape":"VolumeFrom"}
    },
    "VolumeList":{
      "type":"list",
      "member":{"shape":"Volume"}
    }
  }
}
