name: GitSecretsScan

on: [push, pull_request]

permissions: read-all
jobs:
  git-secret-check:
    name: Git Secrets Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: src/github.com/aws/amazon-ecs-agent
      - name: Git Secrets Scan Script
        run: |
          set -ex
          cd $GITHUB_WORKSPACE
          git clone https://github.com/awslabs/git-secrets.git && cd git-secrets
          sudo make install
          git secrets --register-aws --global
          cd $GITHUB_WORKSPACE/src/github.com/aws/amazon-ecs-agent
          git secrets --install
          git secrets --register-aws
          git secrets --scan-history
