name: Linux

on: [pull_request]

jobs:
  unit-tests:
    name: Linux unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/github.com/aws/amazon-ecs-agent
      - name: get GO_VERSION
        run:  |
          cd $GITHUB_WORKSPACE/src/github.com/aws/amazon-ecs-agent
          echo "GO_VERSION=$(cat GO_VERSION)" >> $GITHUB_ENV
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v2
        with:
          submodules: true
          path: src/github.com/aws/amazon-ecs-agent
      - name: make test
        run: |
          export GOPATH=$GITHUB_WORKSPACE
          export GO111MODULE=auto
          cd $GITHUB_WORKSPACE/src/github.com/aws/amazon-ecs-agent
          make test-silent
          make analyze-cover-profile