name: Static Checks

on: [pull_request]

jobs:
  static-check:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: 1.15.4
    - uses: actions/checkout@v2
      with:
        path: src/github.com/aws/amazon-ecs-agent
    - name: run static checks
      run: |
        export GOPATH=$GITHUB_WORKSPACE
        export PATH=$PATH:$(go env GOPATH)/bin
        cd $GITHUB_WORKSPACE/src/github.com/aws/amazon-ecs-agent
        make get-deps
        make static-check

  x-platform-build:
    name: Cross platform build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: 1.15.4
    - uses: actions/checkout@v2
      with:
        submodules: true
        path: src/github.com/aws/amazon-ecs-agent
    - name: make xplatform-build
      run: |
        export GOPATH=$GITHUB_WORKSPACE
        cd $GITHUB_WORKSPACE/src/github.com/aws/amazon-ecs-agent
        make xplatform-build
